@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }
body { background-color: #f8fafc; }
.input {
  @apply w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-slate-300;
}
